@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500;700&display=swap");

body,
html {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Roboto", sans-serif;
}

#cdForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: fit-content;
	margin: auto;
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 100px;
	padding: 20px;
}
#cdForm > h3 {
	font-size: 24px;
	margin: 0 0 20px 0;
	font-weight: 100;
	color: rgb(77, 77, 77);
}

#prices {
	background-color: #fdf9e8;
	width: 100%;
	margin: 10px 20px;
	margin-left: 0;
}
#prices + h2 {
	margin-top: 0;
	font-size: 28px;
	font-weight: 100;
	color: #7f4f50;
	font-weight: 400;
	position: relative;
	width: 95%;
}

#prices > p {
	font-size: 18px;
	padding: 5px 0;
	color: #7f4f50;
	margin: 20px 20px 10px 0;
	position: relative;
}
#prices > p > span,
#prices + h2 > span {
	margin-left: 39px;
	position: absolute;
	right: 0;
}
#prices > p:nth-last-child(1) {
	margin-top: 5px;
	margin-bottom: 20px;
	color: #7f4f50;
	font-weight: 500;
	background-color: #fbf3d3;
}

#buttonSpan {
	border-radius: 10px;
	background-color: #ffc439;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	padding: 5px;
	gap: 10px;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
		rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
		rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#buttonSpan:hover {
	background-color: #ffd268;
	cursor: pointer;
}

#buttonSpan > img {
	width: 100px;
	height: 60px;
}
