@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body,
html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #222;
	font-family: "Roboto", sans-serif;
}

#loginForm {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: fit-content;
	margin-top: 200px;
	gap: 10px;
	justify-content: center;
	align-items: flex-start;
}
#loginForm > label {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 16px;
	color: #e6e6e6;
	margin: 0 0 5px 0;
}
#loginForm > label > input {
	height: 36px;
	width: 540px;
	color: #222222;
	border-radius: 5px;
	border: none;
	padding: 0 5px;
	font-size: 18px;
}
#loginForm > input[type="submit"] {
	background-color: #d43530;
	color: #ffffff;
	padding: 20px 30px;
	font-size: 19px;
	border-radius: 40px;
	border: none;
}
